body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  width: 100%;
}

#summaryContainer {
  background-color: rgba(35, 150, 135, 1);
  padding: 16% 15% 13% 15%;
}

.contentContainer {
  background-color: white;
  padding: 3% 15% 3% 15%;
  margin-bottom: 15px;
  margin-top: 15px;
}

#team {
  background-color: #F2F2F2;
  width: 100%;
  min-height: 275px
}

#concepting, #competitiveAnalysis, #wireframing {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 0px;
}

#sketch {
  width: 70%;
  margin-left: 15%;
  margin-top: 4%;
}

#ghoSiteMap {
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#ghoMobileWireframe {
  width: 100%;
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.3);
  margin-top: 15px;
}

#ghoDesktopWireframe {
  width: 86%;
  margin-left: 7%;
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.3);
  margin-top: 15px;
}

#ghoSketch {
  width: 100%;
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.3);
  margin-top: 15px;
}

.personaTile {
  width: 66%;
  align-self: center;
  margin: 3% 17% 3% 17%;
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.3);
}

strong {
  font-weight: 500;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
}

h2 {
  color: white;
  font-weight: 200;
  font-size: 1.5em;
  line-height: 1.7;
}

h3 {
  color: rgba(50, 50, 50, 1);
  text-transform: uppercase;
  font-weight: 700;
  padding-right: 15%;
}

h4 {
  color: black;
  font-weight: 200;
  font-size: 1em;
  line-height: 1.8em;
  font-family: 'Merriweather', serif;
}

ul {
  list-style: disc;
  line-height: 1.7;
  font-weight: 200;
  margin-left: 1rem;
  margin-top: 1rem;
  font-family: 'Merriweather', serif;
}

nav li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  opacity: 1;
}

nav a {
  text-decoration: none;
  color: white;
}

nav {
  position: absolute;
  top: 4%;
  right: 10%;
}

ul {
  width: 100%;
}

nav li a:hover {
  color: cyan;
  transition: all 0.3s;
}

#logo {
  position: absolute;
  opacity: 1;
  top: 5%;
  left: 5%;
  height: 100px;
}

#logo:hover {
  transform: scale(1.05);
  transition: all 0.5s;
  cursor: pointer;
}

#moreProjects {
  border-top: 1px solid #AAA;
  margin-top: 40px;
  /*background-color: #F2F2F2;*/
}

.projectAtBottomImg {
  width: 100px;
  float: left;
  margin-right: 30px;
}

.projectAtBottomText {
}

.projectAtBottom {
  margin-top: 30px;
}

footer {
  background: linear-gradient(-45deg, #23A6D5, #23D5AB);
  color: white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 100px;
}
