@media (min-width: 1900px) {
  .projectTile {
    height: 700px;
  }
}

@media (min-width: 1500px) {
  .projectTile {
    height: 650px;
  }
}


@media (max-width: 992px) {
  #ghoSketch, #ghoDesktopWireframe, #ghoDesktopComp{
    width: 60%;
    margin-left: 20%;
  }

  .sectionHeading {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  #ghoMobileWireframe, #ghoMobileComp {
    width: 30%;
    margin-left: 35%;
  }

  #ghoSiteMap, #BBsketch, #BBinterface {
    width: 100%;
    margin-left: 0;
  }

  #summaryContainer h1 {
    padding-top: 55px;
  }

  .projectTile {
    width: 96%;
    height: 60%;
    margin: 5% 2% 5% 2%;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.3);
    display: block;
    overflow-y: auto;
  }

  .personaTile {
    width: 70;
    margin: 2% 15% 2% 15%;
  }


  .toTop {
    opacity: 0;
  }

  #resumeButton {
    margin: 0 auto;
  }

  #header {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  #logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  nav {
    display: block;
    width: 500px;
    position: absolute;
    top: 10em;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -25%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
  }

  nav ul {
    display: block;
    text-align: center;
    padding-left: 0;
    margin-left: 0;
  }

  .contentContainer {
    padding: 2rem 2rem;
  }

  #teamCol1, #teamCol2, #teamCol3 {
    padding-top: 5%;
  }

  #map {
    width: 90%;
    margin-left: 2rem;
  }

  #summaryContainer {
    padding: 9rem 2rem 5rem 2rem;
  }

}

@media (max-width: 850px) {
  #summaryContainer h1 {
    padding-top: 100px;
  }

  #heroText {
    position: absolute;
    width: 80%;
    right: 0;
    margin-right: 10%;
    margin-left: 10%;
  }

  #heroText h1 {
    font-size: 3em;
  }

  #heroText h2 {
    font-size: 1.5em;
    padding-left: 0;
  }


  .personaTile {
    width: 80%;
    margin: 2% 10% 2% 10%;
  }
}

@media (max-width: 600px) {
  #aboutPortrait {
    width: 40%;
  }

  .personaTile {
    width: 100%;
    margin: 2% 0% 2% 0%;
  }

}

@media (max-width: 575px) {
  #rButContainer {
    margin-left: 35%;
  }

  #resumeButton {
    border: 1px solid grey;
    color: black;
    text-decoration: none;
    line-height: 40px;
    padding: 10px;
  }
  #summaryContainer h1 {
    padding-top: 155px;
  }
}
