body {
    font-family: 'Barlow', sans-serif;
    color: #333333;
    font-size: 1rem;
    padding-bottom: 75px;
    line-height: 1.5;
    box-sizing: border-box;
}

.gradient-background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -10;
}

a {
    border-bottom: 3px solid #A70115;
    text-decoration: none;
    padding-bottom: 3px;
    transition: all 0.1s linear;
    color: #333333;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 500;
}

p {
    font-size: 1rem;
    letter-spacing: 0.5px;
}

a:hover {
    padding-bottom: 5px;
}

.pdf-tag {
    background: #A70115;
    color: white;
    padding: 3px 6px;
    font-weight: 700;
    margin-left: 10px;
    display: inline-block;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}

.under-construction::before {
    content: '';
    background-image: url("images/traffic-cone-solid.svg");
    background-size: 1.15rem 1.15rem;
    display: inline-block;
    width: 1.15rem; 
    height: 1.15rem;
    margin-right: 15px;
}

.under-construction {
    color: #A70115;
}

.body-content {
    padding: 0 40px;
    max-width: 1192px;
    margin: 0 auto;
}

.header-and-image {
    position: relative;
}

.small-drawing {
    display: none;
}

.header-and-image > img {
    position: absolute;
    top: -12rem;
    right: 0;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 5rem;
    text-align: left;
    letter-spacing: 0.15rem;
    line-height: 1.5;
    margin-top: 7vh;
    font-weight: 400;
    color: #333333;
}

h1 > .white-text {
    padding: 5px;
    background: #343434;
    color: white;
    border: 3px solid #343434;
}

h4 {
    font-size: 1.2rem;
}
.name-under-logo {
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    text-align: left;
    letter-spacing: 0.025rem;
    margin-top: 7vh;
    color: #333333;
    font-weight: 500;
}

.top {
    margin-bottom: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    z-index: 10;
    max-width: 1192px;
    margin: 0 auto;
}

.navbar > .logo {
    height: 6rem;
}

footer {
    text-align: center;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    color: white;
    background: #333333;
    width: 100%;
    letter-spacing: 0.05rem;
    font-size: 0.8rem;
}

